html,
body {
  margin: 0;
  padding: 0;

  font-size: 20pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  background: black;
}

main {
  background: linear-gradient(45deg, rgb(157, 239, 225) 0%, rgb(202, 61, 1) 100%);
  background-attachment: fixed;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding-bottom: 1rem;
}

* {
  font-size: 1em;
}

.header {
  color: white;
  padding: 1rem;

  font-size: 1.8em;
  text-align: center;
}

.sections {
  max-width: 600px;
  margin: auto;
}

.section {
  margin-bottom: 2rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  background-color: white;
  padding: 1rem 0;

  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  box-shadow: -5px -5px 10px 0 rgba(0, 0, 0, 0.5);
}

.section>.title {
  font-size: 1.4em;
  text-align: center;
}

.section p {
  padding: 0 1rem;
}

.section img {
  width: 100%;
  margin-top: 1rem;
}

.about {
  background-color: white;
}